body {
	margin: 0;
	padding: 1000;
	font-size: 16px;
	color: #444444;
}
h1 {
	width: 255px;
	margin: 0 auto 8 px;
	font-size: 36px;
	text-align: center;
}
.container {
	width: 510px;
	margin: 0 auto;
	padding :0 20px;
}
.site-header {
	min-width: 550px;
	height: 186px;
	margin-bottom: 70px;
	padding-top: 30px;
	background: black;
	color: white;
}
.site-header p {
	width: 255px;
	margin: 0 auto 26px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}
	